In [1]:
import numpy as np
import pandas as pd

In [2]:
DATA_LOAD_PATHS = ['../datasets/raw/loan_data/credit_test.csv',
                   '../datasets/raw/loan_data/credit_train.csv']
DATA_WRITE_PATH = '../datasets/preprocessed/pre_loan_data.csv'

In [3]:
dataset = pd.DataFrame()

In [4]:
for path in DATA_LOAD_PATHS:
    frame = pd.read_csv(path)
    dataset = pd.concat([dataset, frame])

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
dataset.head()

,Annual Income,Bankruptcies,Credit Score,Current Credit Balance,Current Loan Amount,Customer ID,Home Ownership,Loan ID,Loan Status,Maximum Open Credit,Monthly Debt,Months since last delinquent,Number of Credit Problems,Number of Open Accounts,Purpose,Tax Liens,Term,Years in current job,Years of Credit History
0,2074116.0,0.0,747.0,621908.0,611314.0,ded0b3c3-6bf4-4091-8726-47039f2c1b90,Home Mortgage,f738779f-c726-40dc-92cf-689d73af533d,NaN,1058970.0,42000.83,NaN,0.0,9.0,Debt Consolidation,0.0,Short Term,10+ years,21.8
1,1919190.0,0.0,734.0,679573.0,266662.0,1630e6e3-34e3-461a-8fda-09297d3140c8,Home Mortgage,6dcc0947-164d-476c-a1de-3ae7283dde0a,NaN,904442.0,36624.40,NaN,0.0,11.0,Debt Consolidation,0.0,Short Term,10+ years,19.4
2,871112.0,0.0,709.0,38532.0,153494.0,2c60938b-ad2b-4702-804d-eeca43949c52,Rent,f7744d01-894b-49c3-8777-fc6431a2cff1,NaN,388036.0,8391.73,10.0,0.0,10.0,Debt Consolidation,0.0,Short Term,2 years,12.5
3,780083.0,1.0,727.0,156940.0,176242.0,12116614-2f3c-4d16-ad34-d92883718806,Rent,83721ffb-b99a-4a0f-aea5-ef472a138b41,NaN,531322.0,16771.87,27.0,1.0,16.0,Debt Consolidation,0.0,Short Term,10+ years,16.5
4,1761148.0,0.0,744.0,359765.0,321992.0,39888105-fd5f-4023-860a-30a3e6f5ccb7,Home Mortgage,08f3789f-5714-4b10-929d-e1527ab5e5a3,NaN,468072.0,39478.77,44.0,0.0,14.0,Debt Consolidation,0.0,Short Term,10+ years,26.0

In [ ]:
dataset['']