In [1]:
from internal_scripts.data_loaders.BlackFridayDataLoader import BlackFridayDataLoader
from internal_scripts.modelling.loading.models_loading import get_saved_models 
from internal_scripts.descriptors.Eli5Descriptor import Eli5Descriptor

from IPython.display import display, HTML

In [2]:
loader = BlackFridayDataLoader()

In [3]:
black_friday_data = loader.get_train_test_split()

In [4]:
models = get_saved_models()

In [5]:
descriptors = [Eli5Descriptor()]

In [6]:
description_dict = {}

In [7]:
for name, model in models.items():
    for desc in descriptors:
        model_desc = desc.describe(name, model, black_friday_data)
        description_dict[name] = model_desc

In [10]:
for model_name, descriptions in description_dict.items():
    display(HTML(f"<h1>{model_name}</h1>"))
    for characteristic, html_output in descriptions.items():
        display(HTML(f"<h2>{characteristic}</h2>"))
        display(html_output)